<!--03-22-2025   1.0   Keelin  Setting up Read -->
@{
    ViewData["Title"] = "Single Record";
}
@model GBRCoralPoint

<h1>@ViewData["Title"]</h1>

<div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Reef Name</th>
                <th>Point</th>
            </tr>
        </thead>
        public int GBRCoralPointID { get; set; }
        public string? ReefName { get; set; }
        public Point? Point { get; set; }
        <tbody>
            <tr>
                <td>Model.GBRCoralPointID</td>
                <td>Model.ReefName</td>
                <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px; display: block;">Model.Point</td>
            </tr>

        </tbody>
    </table>

</div>
